.WelcomeStatement{
    text-align: center;
}

.newLeafGame{
    display: block;
    background-color: #9eb588;
}

.singleCard{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: px;
    height: 100px;
    width: 100px;
    background-color: #5fbd02;
}

.introPlayer{
    display: block;
}

.userCards{
    /* border-color: black; */
    background-color: #468a03;
    border-radius: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
}


.cardContents{
    text-align: center;
}

.userCardsImages{
    width: 90%;
    height: 95%;
}

.menuPanel{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 5vw;
    text-align: center;
}

.endTurn{
    width: 100%;
    height: 100%;
}